<div class="add-button">
  <button (click)="createNewUser()" class="btn btn-dark" type="submit">Novo Usuário</button>
</div>

<app-alert></app-alert>

<div class="user-list">
  <div *ngIf="!!users?.length && !errorMessage" class="user-list__table">
    <app-user-table [users]="users" (userDeleted)="onUserDeleted($event)" (userEdited)="editUser($event)">
    </app-user-table>
  </div>

  <div *ngIf="!users?.length && !errorMessage" class="user-list__spinner text-center spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>

  <div *ngIf="!users?.length && !!errorMessage" class="user-list__error">
    <ngb-alert class="login-container__alert" type="danger">{{ errorMessage }}</ngb-alert>
    <button (click)="tryAgain()" class="btn btn-dark" type="submit">Tentar novamente</button>
  </div>
</div>
