@use '../../../assets/style/variables';

.navbar {
  background-color: variables.$red !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-brand {
  img {
    max-height: 45px;
    background: white;
    border-radius: 10px;
    max-width: 150px;
  }
}
